[submodule "subProject99"]
	path = subProject99
	url = https://github.com/yt46767/subProject1.git
	branch = temp
[submodule "subProject999"]
	path = subProject999
	url = https://github.com/yt46767/subProject1.git
	branch = temp
[submodule "src/html/pingan/subProject9"]
	path = src/html/pingan/subProject9
	url = https://github.com/yt46767/subProject1.git
	branch = temp
[submodule "src/js/subProject999"]
	path = src/js/subProject999
	url = https://github.com/yt46767/subProject1.git
	branch = temp
